@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Urbanist", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 1s linear infinite;
}

.mainpage input:focus ,
.invoiceform input:focus,
.invoiceform textarea:focus,
.invoiceform select:focus {
  box-shadow: none !important;
}

.nav-link:hover {
  color: #00254a !important; 
}

.btn-primary {
  background-color: #00254a !important;
  border-color: #00254a !important;
}

.btn-primary:hover {
  background-color: #01406e !important;
  border-color: #01406e !important;
}

.text-primary {
  color: #01406e !important;
}

.border-dashed {
  border-style: dashed !important; /* Use !important to override Bootstrap's solid border */
}

.border-primary {
  border-color: #01406e !important;
}